body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;;
}

.past {
  background-color: #d3d3d3;
  color: white;
}

.present {
  background-color: #6ea668;
  color: white;
}

.future {
  background-color: #77dd77;
  color: white;
}